mixin banner()
  -
    const bannerCards = [
      {
        id: "card-1",
        title: "Формируем ценность бренда в digital - среде",
        description: "Создаем digital-пространство для девелоперов и&nbsp;проектов&nbsp;ЖК, находя баланс идентичности бренда и&nbsp;сервисности.",
        images: [
          {
            alt: "изображения проекта",
            width1920:"376",
            height1920:"261",
            width1440:"280",
            height1440:"194",
            tabletWidth:"148",
            tabletHeight:"103"
          },
          {
            alt: "изображения проекта",
            width1920:"242",
            height1920:"524",
            width1440:"180",
            height1440:"390",
            tabletWidth:"99",
            tabletHeight:"215"
          },
          {
            alt: "изображения проекта",
            width1920:"373",
            height1920:"373",
            width1440:"277",
            height1440:"277",
            tabletWidth:"144",
            tabletHeight:"144"
          },
          {
            alt: "изображения проекта",
            width1920:"377",
            height1920:"379",
            width1440:"282",
            height1440:"258",
            tabletWidth:"151",
            tabletHeight:"144"
          }
        ]
      },
      {
        id: "card-2",
        title: "Проектируем мобильные приложения",
        description: "Разрабатываем приложения для мобильных устройств, решая реальные запросы пользователей.",
        images: [
          {
            alt: "изображения проекта",
            width1920:"315",
            height1920:"167",
            width1440:"235",
            height1440:"124",
          },
          {
            alt: "изображения проекта",
            width1920:"309",
            height1920:"645",
            width1440:"227",
            height1440:"479",
            tabletWidth:"112",
            tabletHeight:"302"
          },
          {
            alt: "изображения проекта",
            width1920:"309",
            height1920:"645",
            width1440:"227",
            height1440:"479",
            tabletWidth:"112",
            tabletHeight:"302"
          },
          {
            alt: "изображения проекта",
            width1920:"315",
            height1920:"100",
            width1440:"235",
            height1440:"75",
          },
        ]
      }
    ]

  section.banner
    .container
      //- h2.vissually-hidden *******
      .banner__title-container
      ul.banner__cards-list
        each card in bannerCards
          li.banner__cards-list-item
            article.banner__card.banner-card(class=`banner-card--${card.id}`)

              .banner-card__title-container
                p.banner-card__subtitle недвижимость
                h3.banner-card__title
                  span Формируем
                    +icon("banner-icon", 40, 31)(aria-hidden="true")
                  span.banner-card__title-images(
                    style="--image-before: url('/img/content/banner/card-1/heart.webp');--image-before-2x: url('/img/content/banner/card-1/heart@2x.webp'); --image-after: url('/img/content/banner/card-1/city.webp'); --image-after-2x: url('/img/content/banner/card-1/city@2x.webp');"
                  ) ценность бренда
                  span ЖК
                  span.banner-card__title-wrapper
                    span.banner-card__title-icon-wrapper
                      +icon("planet-icon", 29, 29)(aria-hidden="true")
                    span.banner-card__title-green-bg в digital - среде

                p.banner-card__description Создаем digital-пространство для девелоперов и&nbsp;проектов&nbsp;ЖК, находя баланс идентичности бренда и&nbsp;сервисности.
                a.banner-card__title-link.btn-fill(href="#") Подробнее

              ul.banner-card__images-list
                each image, index in card.images
                  li.banner-card__images-list-item(class=`banner-card__images-list-item--image-${index + 1}`)
                    +adaptivePicture({
                      imageBaseName: `card-image-${index + 1}`,
                      path: `content/banner/${card.id}`,
                      width: image.width1920,
                      height: image.height1920,
                      alt: image.alt,
                      desktop1440Width: image.width1440,
                      desktop1440Height: image.height1440,
                      tabletWidth: image.tabletWidth,
                      tabletHeight: image.tabletHeight,
                    })
            ul.banner__pagination-buttons.pagination-buttons
              each button, i in card.images
                li.pagination-buttons__item
                  button.pagination-buttons__button.btn(type="button", aria-label=`Перейти к слайду ${i + 1}`)
