mixin clients()
  -
    const clientsLinks = [
      {
        title: "Северсталь",
        width: "162",
        height:"57",
        image: "severstal",
        link: "#",
      },
      {
        title: "Сибгур",
        width: "123",
        height:"24",
        image: "sibgur",
        link: "#",
      },
      {
        title: "УралХим",
        width: "186",
        height:"24",
        image: "uralchem",
        link: "#",
      },
      {
        title: "Ростех",
        width: "150",
        height:"46",
        image: "rostec",
        link: "#",
      },
      {
        title: "НЛМК",
        width: "108",
        height:"60",
        image: "nlmk",
        link: "#",
      },
      {
        title: "РосАтом",
        width: "125",
        height:"56",
        image: "rosatom",
        link: "#",
      },
      {
        title: "ТЭК-Торг",
        width: "157",
        height:"37",
        image: "tek-torg",
        link: "#",
      },
      {
        title: "Фармстандарт",
        width: "160",
        height:"37",
        image: "pharmstandard",
        link: "#",
      },
      {
        title: "Schkumberger",
        width: "154",
        height:"35",
        image: "schlumberger",
        link: "#",
      },
      {
        title: "Сбер",
        width: "134",
        height:"37",
        image: "sber",
        link: "#",
      },
      {
        title: "Вконтакте",
        width: "63",
        height:"63",
        image: "vkontakte",
        link: "#",
      },
      {
        title: "Открытие",
        width: "184",
        height:"36",
        image: "otkrytie",
        link: "#",
      },
      {
        title: "MR group",
        width: "145",
        height:"32",
        image: "mr-group",
        link: "#",
      },
      {
        title: "Coldy",
        width: "120",
        height:"20",
        image: "coldy",
        link: "#",
      },
      {
        title: "Главстрой",
        width: "193",
        height:"24",
        image: "glavstroy",
        link: "#",
      },
    ]
  section.clients
    .container
      .clients__title-container
        h2.clients__title.title 20&nbsp;клиентов&nbsp;&mdash; крупнейшие компании из&nbsp;списка Forbes. Более 100 реализованных проектов
      ul.clients__list
        each card in clientsLinks
          li.clients__list-item
            a.clients__link(href=card.link , aria-label=card.title, title=card.title, class=`clients__link--${card.image}`)
              svg(width=card.width, height=card.height , aria-hidden="true")
                use(href=`img/svg/clients/${card.image}.svg`)
