mixin projects()
  -
    const slides = [
      {
        name: "severstal",
        subtitle: "Промышленность",
        title: "Северсталь",
        description: "Адаптация нового брендинга для digital",
        images: 4,
      },
      {
        name: "sibgur",
        subtitle: "Промышленность",
        title: "Сибур",
        description: "Адаптация нового брендинга для digital",
        images: 4,
      },
      {
        name: "mr-group",
        subtitle: "Недвижимость",
        title: "MR Group",
        description: "Адаптация нового брендинга для digital",
        images: 4,
      },
      {
        name: "glavstroy",
        subtitle: "Недвижимость",
        title: "Главстрой",
        description: "Адаптация нового брендинга для digital",
        images: 4,
      },
      {
        name: "pharmstandard",
        subtitle: "Медицина",
        title: "Фармстандарт",
        description: "Адаптация нового брендинга для digital",
        images: 4,
      },
      {
        name: "tek-torg",
        subtitle: "Промышленность",
        title: "Тэк-Торг",
        description: "Адаптация нового брендинга для digital",
        images: 4,
      }
    ]
  section.projects
    .container
      .projects__title-container
        p.projects-section-description крупные проекты
        .projects__title-wrapper
          h2.projects__title.title Поддерживаем и&nbsp;разрабатываем долгосрочное сотрудничество
      ul.projects__slides.projects-slides
        each slide in slides
          li.projects-slides__item
            a.projects-slides__slide.projects-slide(href="#")
              p.projects-slide__subtitle!= slide.subtitle
              h3.projects-slide__title!= slide.title
              p.projects-slide__description!= slide.description
              ul.projects-slide__image-list
                - for (let i = 1; i <= slide.images; i++)
                  li.projects-slide__image-list-item(aria-hidden="true")
                    +adaptivePicture({
                      imageBaseName: `${slide.name}-mini-card-${i}`,
                      path: `content/projects/${slide.name}`,
                      width: 85,
                      height: 85,
                      alt: `Иконка проекта ${slide.title}`,
                      desktop1440Width: 64,
                      desktop1440Height: 64,
                      tabletWidth: 75,
                      tabletHeight: 75,
                      mobileWidth: 65,
                      mobileHeight: 65
                    })
