mixin projects()
  -
    const slides = [
      {
        name: "severstal",
        subtitle: "Промышленность",
        title: "Северсталь",
        description: "Адаптация нового брендинга для digital",
        images: 4,
        allImagesCount: 6,
      },
      {
        name: "sibgur",
        subtitle: "Промышленность",
        title: "Сибур",
        description: "Адаптация нового брендинга для digital",
        images: 4,
        allImagesCount :6,

      },
      {
        name: "mr-group",
        subtitle: "Недвижимость",
        title: "MR Group",
        description: "Адаптация нового брендинга для digital",
        images: 4,
        allImagesCount: 2,
      },
      {
        name: "glavstroy",
        subtitle: "Недвижимость",
        title: "Главстрой",
        description: "Адаптация нового брендинга для digital",
        images: 4,
        allImagesCount: 1,
      },
      {
        name: "pharmstandard",
        subtitle: "Медицина",
        title: "Фармстандарт",
        description: "Адаптация нового брендинга для digital",
        images: 4,
        allImagesCount: 1,
      },
      {
        name: "tek-torg",
        subtitle: "Промышленность",
        title: "Тэк-Торг",
        description: "Адаптация нового брендинга для digital",
        images: 4,
        allImagesCount: 4,
      }
    ]
  section.projects
    .container
      .projects__title-container
        .projects__section-description
          p.section-description крупные проекты
        .projects__title-wrapper
          h2.projects__title.title Поддерживаем и развиваем долгосрочное сотрудничество
          .projects__pagination-buttons-container
            button.projects__pagination-button.btn(type="button", aria-label="предидущий слайд", title="предидущий слайд")
              +icon("arrow", 20, 20)
            button.projects__pagination-button.projects__pagination-button--next-btn.btn(type="button", aria-label="следующий слайд", title="следующий слайд")
              +icon("arrow", 20, 20)
      .projects__slider-wrapper
        ul.projects__slides
          each slide in slides
            li.projects-slides__item
              a.projects-slides__slide.projects-slide(
                href="#",
                style=`--image-1x: url("/img/content/projects/${slide.name}/background.webp");
                --image-2x: url("/img/content/projects/${slide.name}/background@2x.webp");`)
                p.projects-slide__subtitle!= slide.subtitle
                h3.projects-slide__title!= slide.title
                p.projects-slide__description!= slide.description
                ul.projects-slide__image-list
                  - for (let i = 1; i <= slide.images; i++)
                    li.projects-slide__image-list-item(
                      aria-hidden="true" ,
                      data-images-count= i === slide.images ? slide.allImagesCount : false)
                        +adaptivePicture({
                          imageBaseName: `${slide.name}-mini-card-${i}`,
                          path: `content/projects/${slide.name}`,
                          width: 85,
                          height: 85,
                          alt: `Иконка проекта ${slide.title}`,
                          desktop1440Width: 64,
                          desktop1440Height: 64,
                          tabletWidth: 75,
                          tabletHeight: 75,
                          mobileWidth: 65,
                          mobileHeight: 65
                        })
