mixin adaptivePicture(options = {})
  - const imageBaseName = options.imageBaseName || '';
  - const path = options.path || '';
  - const width = options.width;
  - const height = options.height;
  - const alt = options.alt || '';
  - const disableMobile = options.disableMobile || false;

  picture
    //- Mobile
    if !disableMobile
      source(
        srcset=`img/${path}/${imageBaseName}-mobile.webp 1x, img/${path}/${imageBaseName}-mobile@2x.webp 2x`,
        media="(max-width: 767px)",
        type="image/webp",
        width=options.mobileWidth || width,
        height=options.mobileHeight || height
      )

    //- Tablet
    source(
      srcset=`img/${path}/${imageBaseName}-tablet.webp 1x, img/${path}/${imageBaseName}-tablet@2x.webp 2x`,
      media="(max-width: 1279px)",
      type="image/webp",
      width=options.tabletWidth || width,
      height=options.tabletHeight || height
    )

    //- Desktop 1440
    source(
      srcset=`img/${path}/${imageBaseName}-desktop-1440.webp 1x, img/${path}/${imageBaseName}-desktop-1440@2x.webp 2x`,
      media="(max-width: 1919px)",
      type="image/webp",
      width=options.desktop1440Width || width,
      height=options.desktop1440Height || height
    )
    //- Desktop 1920
    img(
      src=`img/${path}/${imageBaseName}-desktop-1920.webp`,
      srcset=`img/${path}/${imageBaseName}-desktop-1920.webp 1x, img/${path}/${imageBaseName}-desktop-1920@2x.webp 2x`,
      alt=alt,
      loading="lazy",
      width=width,
      height=height,
    )
