mixin contacts(className)
  .contacts(class=className)
    ul.contacts__list
      li.contacts__item
        a.contacts__link(
          href="mailto:hello@only.digital",
          aria-label="Написать нам"
        ) hello@only.digital

      li.contacts__item
        a.contacts__link(
          href="tel:+74957409979",
          aria-label="Позвонить нам"
        ) +7 (495) 740-99-79

      li.contacts__item
        p.contacts__description Telegram для связи
        a.contacts__link(
          href="https://t.me/onlydigitalagency",
          target="_blank",
          rel="noopener noreferrer",
          aria-label="Наш Telegram канал"
        ) @onlydigitalagency
